<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ma maison</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <header>
        <div class="div_img">
            <img src="./static/img/image 8.png" alt="" id="house_img">
            <h1 id="title">Ma Maison</h1>
        </div>
        <div id="nav_warper">
            <div id="recenter">
                <form action="" id="search">
                    <input type="text" placeholder="WHERE TO GO?" id="search_input">
                    <input type="button" value="" id="search_btn">
                </form>
            </div>
            <div class="nav_div">
                <a href="./index.html" class="nav_btn Home">Home</a>
                <a href="./about.html" class="nav_btn">About</a>
            </div>
        </div>
    </header>
    <div class="line_align">
        <div class="line"></div>
    </div>
    <div class="flex">
        <div class="filter_div">
            <img src="./static/img/image 2.png" alt="" class="img_filter">
            <h2 class="txt_filter">Luxe</h2>
        </div>
        <div class="filter_div">
            <img src="./static/img/image 3.png" alt="" class="img_filter">
            <h2 class="txt_filter">Beach</h2>
        </div>
        <div class="filter_div">
            <img src="./static/img/image 4.png" alt="" class="img_filter">
            <h2 class="txt_filter">Swiming Pool</h2>
        </div>
        <div class="filter_div">
            <img src="./static/img/image 5.png" alt="" class="img_filter">
            <h2 class="txt_filter">Park</h2>
        </div>
        <div class="filter_div">
            <img src="./static/img/image 6.png" alt="" class="img_filter">
            <h2 class="txt_filter">Amusement Park</h2>
        </div>
        <div class="filter_div">
            <img src="./static/img/image 7.png" alt="" class="img_filter">
            <h2 class="txt_filter">Cosy</h2>
        </div>
        <div id="filter_btn">
            <div id="column">
                <div class="line_black">
                    <div id="blue_circle_start"></div>
                </div>
                <div class="line_black">
                    <div id="blue_circle_end"></div>
                </div>
                <div class="line_black">
                    <div id="blue_circle_left"></div>
                </div>
            </div>
            <h2 id="FILTER">FILTER</h2>
        </div>
    </div>
    <div class="line_align">
        <div class="line"></div>
    </div>
    <div id="img_list">
        <div>
            <a href="./showcase.html">
                <img src="./static/img/Rectangle 1.png" alt="" href="./showcase.html">
                <div class="space-between">
                    <h1 class="S-20 fw-700">Lorem Ipsum Dolor It</h1>
                    <h2 class="S-20 fw-400">⭐4.9</h2>
                </div>
                <div class="space-between">
                    <h3 class="S-20 fw-400">Lorem Ipsum , dolorit</h3>
                    <h3 class="S-20 fw-400">351 € pn</h3>
                </div>
            </a>
        </div>
        <div>
            <a href="./showcase.html">
                <img src="./static/img/Rectangle 2.png" alt="">
                <div class="space-between">
                    <h1 class="S-20 fw-700">Lorem Ipsum Dolor It</h1>
                    <h2 class="S-20 fw-400">⭐4.9</h2>
                </div>
                <div class="space-between">
                    <h3 class="S-20 fw-400">Lorem Ipsum , dolorit</h3>
                    <h3 class="S-20 fw-400">351 € pn</h3>
                </div>
            </a>
        </div>
        <div>
            <a href="./showcase.html">
                <img src="./static/img/Rectangle 3.png" alt="">
                <div class="space-between">
                    <h1 class="S-20 fw-700">Lorem Ipsum Dolor It</h1>
                    <h2 class="S-20 fw-400">⭐4.9</h2>
                </div>
                <div class="space-between">
                    <h3 class="S-20 fw-400">Lorem Ipsum , dolorit</h3>
                    <h3 class="S-20 fw-400">351 € pn</h3>
                </div>
            </a>
        </div>
        <div>
            <a href="./showcase.html">
                <img src="./static/img/Rectangle 4.png" alt="">
                <div class="space-between">
                    <h1 class="S-20 fw-700">Lorem Ipsum Dolor It</h1>
                    <h2 class="S-20 fw-400">⭐4.9</h2>
                </div>
                <div class="space-between">
                    <h3 class="S-20 fw-400">Lorem Ipsum , dolorit</h3>
                    <h3 class="S-20 fw-400">351 € pn</h3>
                </div>
            </a>
        </div>
        <div>
            <a href="./showcase.html">
                <img src="./static/img/Rectangle 5.png" alt="">
                <div class="space-between">
                    <h1 class="S-20 fw-700">Lorem Ipsum Dolor It</h1>
                    <h2 class="S-20 fw-400">⭐4.9</h2>
                </div>
                <div class="space-between">
                    <h3 class="S-20 fw-400">Lorem Ipsum , dolorit</h3>
                    <h3 class="S-20 fw-400">351 € pn</h3>
                </div>
            </a>
        </div>
        <div>
            <a href="./showcase.html">
                <img src="./static/img/Rectangle 6.png" alt="">
                <div class="space-between">
                    <h1 class="S-20 fw-700">Lorem Ipsum Dolor It</h1>
                    <h2 class="S-20 fw-400">⭐4.9</h2>
                </div>
                <div class="space-between">
                    <h3 class="S-20 fw-400">Lorem Ipsum , dolorit</h3>
                    <h3 class="S-20 fw-400">351 € pn</h3>
                </div>
            </a>
        </div>
    </div>
</body>
</html>