<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ma maison</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <header>
        <div class="div_img">
            <img src="./static/img/image 8.png" alt="" id="house_img">
            <h1 id="title">Ma Maison</h1>
        </div>
        <div id="nav_warper">
            <div id="recenter">
                <form action="" id="search">
                    <input type="text" placeholder="WHERE TO GO?" id="search_input">
                    <input type="button" value="" id="search_btn">
                </form>
            </div>
            <div class="nav_div">
                <a href="./index.html" class="nav_btn Home">Home</a>
                <a href="./about.html" class="nav_btn">About</a>
            </div>
        </div>
    </header>
    <div class="line_align">
        <div class="line"></div>
    </div>
    <div id="wrap_div">
        <div>
            <h1>Lorem Ipsum Dolor It</h1>
            <div id="starNprice">
                <h2>Lorem Ipsum , dolorit  ⭐4.9</h2>
                <h2>351 € per night</h2>
            </div>
        </div>
        <div id="wrap_imgNform">
            <img src="./static/img/Rectangle 7.png" alt="">
            <form action="" id="reservation_form">
                <div id="dates_inputs">
                    <div class="recenter_div">
                        <label for="" class="input_label">CHECK-IN DATE</label>
                        <input type="text" placeholder="27/07/2022" class="date_input">
                    </div>
                    <div class="recenter_div">
                        <label for="" class="input_label">CHECK-OUT DATE</label>
                        <input type="text" placeholder="27/07/2022" class="date_input">
                    </div>
                </div>
                <div>
                    <select name="" id="guests_input">
                        <option value="">GUESTS</option>
                    </select>
                </div>
                <button id="reserve_button">RESERVE</button>
                <div class="price_div">
                    <h2 class="price_text">349 € x 5 nights</h2>
                    <h2 class="price_text">1,745 €</h2>
                </div>
                <div class="price_div">
                    <h2 class="price_text">Ma Masion Fee</h2>
                    <h2 class="price_text">50 €</h2>
                </div>
                <div class="price_div">
                    <h2 class="price_text">Occupancy Tax</h2>
                    <h2 class="price_text">25 €</h2>
                </div>
                <div id="price_gray_lign"></div>
                <div class="price_div">
                    <h2 class="price_text_bold">Total</h2>
                    <h2 class="price_text_bold">1,820 €</h2>
                </div>
            </form>
        </div>
        <div>
            <div id="host">
                <h1>Hosted By</h1>
                <div id="align_textNimg">
                    <h2 id="host_name">Johnny Smith</h2>
                    <img src="./static/img/Host.png" alt="" id="host_img">
                </div>
            </div>
            <div id="gray_lign"></div>
            <div id="advantage">
                <div class="advantage_div">
                    <img src="./static/img/image 3.png" alt="" class="advantage_img">
                    <h2 class="advantage_name">Beach</h2>
                </div>
            <div class="advantage_div">
                <img src="./static/img/image 4.png" alt="" class="advantage_img">
                <h2 class="advantage_name">Swimming Pool</h2>
            </div>
        </div>
        <div></div>
    </div>
</body>
</html>